<h1>New Contact</h1>
<%= form_tag "/contacts", method: :post do %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
   
      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    First name: <input type="text" name="first_name" value="<%= @contact.first_name %>">
  </div>
  <div>
    Middle name: <input type="text" name="middle_name" value="<%= @contact.middle_name %>">
  </div>
  <div>
    Last name: <input type="text" name="last_name" value="<%= @contact.last_name %>">
  </div>
  <div>
    Email: <input type="text" name="email" value="<%= @contact.email %>">
  </div>
  <div>
    Phone: <input type="text" name="phone" value="<%= @contact.phone %>">
  </div>
  <input type="submit" value="Create contact">
<% end %>
